#slider {  /*marco de las imagenes*/
    width: 720px;
    height: 400px;
    overflow: hidden;
}

#slider .slides{ /*Tamaño del carrusel*/
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#slider .slide{ /*Donde empiezan las imagenes*/
    float: left;
    list-style-type: none;
    width: 720px;
    height: 400px;
}